<!doctypecss>

th{
	text-align: center;
}
td{
	text-align : center;
	font-style: italic;
	background-color: LemonChiffon;
}

#title{
	font-family: "Impact", "Helvectica";
	font-style: bold;
	font-weight: 300;
	color: blue;
}
li{
	font-style: italic;
}
#band{
	font-family: "Impact", "Helvectica";
	font-style: bold;
	font-weight: 300;
	color: blue;
}
a{
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
	background-color: green;
}
tr:nth-child(even){
	background-color:LemonChiffon
}
tr:nth-child(odd){
	background-color: LawnGreen
}
