#header{
	text-align:center;
	font-family: "Impact";
	font-size: 50px;
}
body{
	background-color: #EEE;
}
#footer{
	text-align:center;
	
}
td{
	text-align:center;
	padding: 100px;
	
}
a:visited{
	color: red;
}
a:hover{
	font-style:bold;
	color: green;
}
a:active{
	text-decoration: none;
}
